<!-- Information About Me with 4 textblocks and descriptions + photo-->
<img src="/Assets/images/me.jpg" alt="me" style="float: left; display: block; width: 20%; margin-left: 50px;">
<div class="about">
   <h3>Full Name: Aleksandr Sokolov</h3>
   <strong>Profile: </strong> 
   I am currently a second-year student at Centennial College in the program called Software Engineering Technology - Artificial Intelligence. In addition to this, I am learning about Machine Learning from the course 
   on Coursera (the one provided by Stanford), Python And Introduction To Computer Science from MIT.
   I have always been working on improving my skills in the fields of business, engineering, and IT. I am fond of learning about Math, Communication, Management, and Leadership Skills; moreover, I practice on the HackerRank.
</div>
<div class="infoContainer">
    <div>
        <h4>My Favourite Quotes:</h4>
        "Nothing is more difficult, and therefore more precious, than to be able to decide."<br>
        "Until you spread your wings, you’ll have no idea how far you can fly."<br>
        - Napoleon Bonaparte
    </div>
    <div>
        <h3>My Short Bio:</h3>
        I am coming from a cold place called Russia. 
        I graduated from Liceum 2, specializing in Math, Physics, and Chemistry.
        In addition to this, I participated in various subject tournaments, such as 
        English, Maths, IT, and Physics. 
        I also used to practice martial arts, competitive swimming, and 
        arm-wrestling.
    </div>
    <div>
        <h3>My Hobbies:</h3>
        <ul>
            <li>Reading Science Fiction</li>
            <li>Skiing, Working Out</li>
            <li>Coding</li>
            <li>Improving Leadership, Communication, and Management Skills</li>
            <li>Philosophy, Economics, Politics</li>
        </ul>
    </div>
</div>