  <!--Bottom Footer-->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-text">
        &copy;Copyright Aleksandr Sokolov &bull; 301139655 &bull; COMP229 - Combined &bull; Fall 2021 
      </span>
    </div>
  </nav>
