  <!-- Bottom of the HTML file with all the scripts and /body with /html -->
  <!-- JavaScript Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>