<!-- Home Page Template for Views with 4 text blocks with descriptions of the services-->
<!-- To be added -->
<div class="infoContainer" id="services">
    <div>
        <h4>Object-Oriented Programing:</h4>
        With knowledge of Object-Oriented concepts and such programming languages as Java, Python, and C#, I can create software applications.
    </div>
    <div>
        <h3>Web Development:</h3>
        With knowledge of JavaScript, CSS, HTML, MEAN, I can build dynamic websites and applications.
    </div>
    <div>
        <h3>Documentation:</h3>
        With knowledge of UML and Software Engineering Methodologies, I can successfully document software projects.
    </div>
</div>
<div class="infoContainer" id="services">
    <div>
        <h4>Agile Development:</h4>
        With knowledge of SCRUM, DevOps, or XP, I can work using agile development methodologies.
    </div>
</div>