<!-- Card div from Bootstrap implemented as contact information -->
<div class="card">
  <div class="card-header">
    Contacts Info:
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Full Name:</strong>Aleksandr Sokolov</li>
    <li class="list-group-item"><strong>E-Mail:</strong>sokolmania@gmail.com</li>
    <li class="list-group-item"><strong>Phone:</strong>(647)-425-8706</li>
    <li class="list-group-item"><strong>Media:</strong><a href="https://www.facebook.com/veryhappymanx/" target="blank"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/alekssok/" target="blank"><i class="fab fa-linkedin"></i></a>
    </li>
  </ul>
</div>

<!-- Contact Me Form with inputs from Bootstrap -->
<section class="mb-4">
    <h3 class="h1-responsive font-weight-bold text-center my-4">Contact me:</h2>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="fname" name="name" class="form-control">
                            <label for="name" class="">Your First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="lname" name="lastname" class="form-control">
                            <label for="lname" class="">Your Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">E-mail</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="number" name="number" class="form-control">
                            <label for="number" class="">Phone Number:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit(); window.location.href='/home';">Send</a>
            </div>
            <div class="status"></div>
        </div>
    </div>
</section>
