<div class="homeLeft">
    <h1>Welcome to my portfolio!</h1>
    It is an Express Portfolio made by Aleksandr Sokolov from Centennial College for COMP229 Assignment 1 
    as a part of learning experience and abilities improvement. <br>
    <button style="display: inline-block; margin-top: 8em;" type="button" class="btn btn-outline-light" onclick="location.href = '/about';">Read More About Me!</button>
</div>
<div class="homeRight">
    <h1>Mission Statement:</h1>
    We are advancing the world of a new era with AI, modern technologies, and ethical problems.
    I believe that it is time to improve our knowledge and abilities in the fields of IT to solve the greatest problems
    that humanity is facing right now.
</div>
