 <div class="project"> 
  <h3>SRS Documentation:</h3>
  <img src="/Assets/images/projectOne.jpg" class="project-thumbnail">
  <div class="projectDescr">In the second term at Centennial College, I studied Software Engineering Methodologies.<br>
  I, with a team of 5, had to create an SRS document for the software regarding managing hotels<br> 
  and residences for quarantine. We studied and used UML to create diagrams. <br></div>
 </div>
 <div class="project">
  <img src="/Assets/images/projectTwo.jpg" class="project-thumbnail">
  <h3>Real Estate Agent Website</h3>
  <div class="projectDescr">In the first term at Centennial College, I created a website, using only CSS and HTML, for a real estate agent.<br>
    It contains 7 pages overall and 3 real estate properties listed and described appropriately. <br>
    It also implements the form of the Contact Me page with inputs. 
  </div>
 </div>
 <div class="project">
  <img src="/Assets/images/projectThree.jpg" class="project-thumbnail">
  <h3>SRS Documentation + Design: </h3>
  <div class="projectDescr">Currently, we are working on the SRS documentation of the software of adaptive timetables for students.<br> 
  We are using UML to create diagrams and implement correct documentation. Furthermore,<br>  
  we are learning about Design concepts in Software Engineering, which we are going to document<br>
  and apply in the next term to create software.</div>
 </div>